{% extends "layout.html" %}

{% block title %}
  Actions
{% endblock %}

{% block content %}
<h1>Actions</h1>
<h3>Select an operation you interested in</h3>

<ul>
  <li><b>Documents</b></li>
  <ul>
    <li><a href="{% url 'new_document' %}">Create New Document</a></li>
    <li>All documents</li>
  </ul>
  <li><b>Inventories</b></li>
  <ul>
    <li>New inventory</li>
    <li>View inventories</li>
  </ul>
  <li><b>Transfers</b></li>
  <ul>
    <li>View orders</li>
    <li>View packages on the way</li>
    <li>View in-house delivered</li>
    <li>View internal transfers</li>
    <li>View external transfers</li>
  </ul>
</ul>
{% endblock %}
